// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page{
	padding-top: 0px;
}

.nested-reply {
	margin: 30px 0 0 50px;
}

.comment-reply {
	display:none;
}

.comment-reply-container {
    margin-top: 50px;
}

.media {
    margin-top: 15px;
}